#first-header {
  display: flex;
  height: 400px;
  width: 100%; 
  background-color: #de7a00;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png"); 
  flex-direction: column; 
  align-items: center;
  justify-content: center; /* Centers the children vertically */
  padding: 20px; /* Optional: add some padding to give it some space */
  text-align: center;
  margin-top: 0px;
}

/* Ensuring the avatar image fits well */
#first-header img{
  max-width: 200px; 
  border-radius: 50%; 
}

