.new-tweet label{ 
  border-bottom: 2px solid rgba(0, 0, 0, 0.616);
  margin-bottom: 10px; 
  display: block; 
  padding-bottom: 10px; 
}

.new-tweet button{
  background-color: #4056A1;
  border-color: #4056A1;  
  color: white;
}

.new-tweet div{
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: medium;

  

}

