
/* Style for each tweet */
.tweet {
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.575);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f4f1ec; /* Add background color here */
  font-size: 16px;
}

/* Style for the tweet header */
.tweet header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ec;
}

.tweet-text {
  margin-left: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.575);
  margin-bottom: 10px; 
  padding-bottom: 20px;
}

 

 .tweet h2 {
  font-weight: normal;
 }

 .tweet h3{
  color:rgb(155, 197, 183);
  font-style: normal;
 }

/* Style for the tweet footer */
.tweet footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-left: 40px; 
  margin-right: 40px; 
}

.tweet .icons {
  color:rgb(49, 49, 114);
}

.tweet:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Hover effect for the tweet */
.tweet :hover {
  color: yellowgreen;
  
}

.tweet i:hover {
  color: yellowgreen;
  
}