
/* Style for each tweet */
article {
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.575);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f4f1ec; /* Add background color here */
  font-size: 16px;
}

/* Style for the tweet header */
article header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ec;
}
 article p {
  border-bottom: 2px solid rgba(0, 0, 0, 0.575);
 }

 article h2 {
  font-weight: normal;
 }

 article address{
  color:rgb(155, 197, 183);
  font-style: normal;
 }

/* Style for the tweet footer */
article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hover effect for the tweet */
article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}